[Unit]
Description=Service for keep alive nginx service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python /root/deamon.py

[Install]
WantedBy=multi-user.target